<!-- Hero Section -->
<section
  class="text-center py-5 d-flex justify-content-center align-items-center bg-info-subtle vh-100"
>
  <div>
    <h1 class="fw-bold">Manage your All review</h1>
    <p class="fs-4">Best simple and minimalistic employee review system</p>
    <!-- <div>
      <a type="button" class="btn btn-outline-info" href="">Manage Reviews</a>
    </div> -->
  </div>
</section>
